<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="Django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python38\python.exe|D:\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="MrDoc.settings" />
        <add key="WSGI_HANDLER" value="MrDoc.wsgi.application" />
        <add key="PYTHONPATH" value="D:\MrDoc" />
    </appSettings>
</configuration>
